# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
/staticfiles/
media/

# Virtual environments
venv/
env/

# Environment variables
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

