{% extends '../base.html' %}
{% load custom_tags %}

{% block title %}
<title>list</title>
{% endblock title %}

{% block content %}
<h2>本の一覧</h2>
<div class="container">
    {% for book in books %}
        <p>タイトル: {{ book.title }}</p>
        <p>著者: {{ book.author }}</p>
        <p>投稿日: {{ book.post_day }}</p>
        <p>総合評価: {{ books_reputation|get_item:book.id }}</p>
        <a href="{% url 'detail' pk=book.id %}">詳細</a>
    {% endfor %}
</div>
<a href="{% url 'logout' %}">ログアウト</a>
<a href="{% url 'create' %}">本の登録</a>
{% endblock content %}